<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Payroll Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/form.css">
</head>

<body>
    <nav class="navbar navbar-light bg-white px-5 payroll-navbar">
  <a class="navbar-brand d-flex align-items-center" href="../index.html">
    <img
      src="../assets/OIP.png"
    alt="😎"
      class="me-2"
      width="50"
      height="47"
    />
    <div>
        <span class="d-block fw-bold py-0 lh-1" style="color: #82A70C;">EMPLOYEE</span>
        <span class="fw-bold py-0 lh-1" style="color: #42515F;">PAYROLL</span>
    </div>
  </a>
</nav>


    <div class="container mt-5">
        <div class="card shadow-sm p-5 mx-auto" style="max-width: 1000px;">
            <h5 class="fw-bold px-5 mb-5" style="color: #42515F;">Employee Payroll Form</h5>

            <form class="px-5">

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name">
                        <p class="text-danger small mt-1 d-none" id="name-error">Enter valid name</p>
                        <p class="text-danger small mt-1 d-none" id="name-present">name already exist</p>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <label class="col-sm-3 col-form-label">Profile image</label>
                    <div class="col-sm-9 d-flex gap-5 align-items-center">
                        <label class="profile-option py-2">
                            <input class="form-check-input " type="radio"  name="profile" value="../assets/OIP.png">
                            <img src="../assets/OIP.png" class="avatar" alt="😎">
                        </label>

                        <label class="profile-option">
                            <input class="form-check-input " type="radio"  name="profile" value="../assets/OIP.png">
                            <img src="../assets/OIP.png" class="avatar" alt="😎">
                        </label>

                        <label class="profile-option">
                            <input class="form-check-input " type="radio"  name="profile" value="../assets/OIP.png">
                            <img src="../assets/OIP.png" class="avatar" alt="😎">
                        </label>

                        <label class="profile-option">
                            <input class="form-check-input " type="radio"  name="profile" value="../assets/OIP.png">
                            <img src="../assets/OIP.png" class="avatar" alt="😎">
                        </label>

                    </div>
                    <div class="col-sm-3 ">
                        <p class="text-danger small text-align-center d-none" id="img-error">Please select a profile</p>

                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Gender</label>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input " type="radio" name="gender" value="Male">
                            <label class="form-check-label">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" value="Female">
                            <label class="form-check-label">Female</label>
                        </div>
                        <p class="text-danger small mt-1 d-none" id="gender-error">
  Please select gender
</p>

                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Department</label>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input department" type="checkbox" value="HR"> HR
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input department" type="checkbox" value="Sales"> Sales
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input department" type="checkbox" value="Finance"> Finance
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input department" type="checkbox" value="Engineer"> Engineer
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input department" type="checkbox" value="Others"> Others
                        </div>
                        <p class="text-danger small mt-1 d-none" id="dep-error">
                            Please select dep
                        </p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Salary</label>
                    <div class="col-sm-4">
                        <select class="form-select" id="salary" required>
                            <option>Select Salary</option>
                            <option> 10,000</option>
                            <option> 20,000</option>
                            <option> 30,000</option>
                        </select>
                        <p class="text-danger small mt-1 d-none" id="salary-error">
  Please select salary
</p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Start Date</label>
                    <div class="col-sm-9 row">
                        <div class="col">
                            <select class="form-select" id="day" >
                                <option>Day</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select" id="month" >
                                <option>Month</option>
                                <option>Jan</option>
                                <option>Feb</option>
                                <option>Mar</option>
                                <option>Apr</option>
                                <option>May</option>
                                <option>Jun</option>
                                <option>Jul</option>
                                <option>Aug</option>
                                <option>Sep</option>
                                <option>Oct</option>
                                <option>Nov</option>
                                <option>Dec</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select" id="year" >
                                <option>Year</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>

                            </select>
                        </div>
                        <p class="text-danger small mt-1 d-none" id="date-error">
                            Please select valid date
                        </p>
                    </div>

                </div>

                <div class="row mb-4">
                    <label class="col-sm-3 col-form-label">Notes</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class=" d-flex justify-content-between">
                        <button class="btn px-5" onclick="window.location.href=`../index.html`">Cancel</button>
                        <div>
                            <button class="btn mx-2 px-5" type="submit">Submit</button>
                            <button class="btn px-5" type="reset">Reset</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</body>
<!-- <script src="../scripts/formDOM.js"></script> -->
 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../scripts/formJQuery.js"></script>

</html>