body {
      background-color: #f7f7f7;
    }

    .search-wrapper {
      width: 45px;
      height: 45px;
    }

    .search-input {
      position: absolute;
      top: 0;
      right: 0;
      width: 260px;
      display: none;
    }

    .badge-costum {
      background-color: #e6f7a9;
      color: #3d3d3d;
    }

    .btn-costum {
      background-color: #82A70C;
      color: #FFFFFF;
    }

    .btn-costum:hover {
      background-color: #b9ec0e;
    }

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }